@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #f4fbff;
  color:#f4fbff
  /* font-family: Inter, sans-serif;
  overflow-x: hidden; */
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);
}

.gradient-text {
  background: linear-gradient(to right, #06B6D4, #0EA5E9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}